@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  background: #001821;
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper{
  background: url(./img/elephant.jpg) center top no-repeat, 
  url(./img/bottom-bg.jpg) center bottom 175px no-repeat;
}

.container{
  margin: 0 auto;
  width: 1141px;
}

.header{
  height: 123px;
  position: relative;
  margin-bottom: 66px;
}

.logo{
  display: block;
  position: absolute;
  top: 21px;
  left: 0;
}

.menu{
  position: absolute;
  top: 31px;
  left: 164px;
}

.menu__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child{
  margin-right: 0;
}

.menu__item--active .menu__link{
  color: #DA0100;
}

.menu__link{
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover{
  color: #DA0100;
}

.contacts{
  position: absolute;
  top: 20px;
  right: 0px;
  font-style: normal;
  text-align: right;
}

.contacts__phone{
  text-decoration: none;
  font-size: 26px;
  line-height: 35px;
}

.contacts__dropdown-title{
  font-size: 13px;
  line-height: 20px;
  color: #98A4A8;
  text-decoration: underline;
}

.contacts__text {
  color: #9A9A9A;
  font-size: 11px;
}

.hero__content{
  margin-bottom: 246px;
}

.hero__text-section{
  width: 511px;
}

.hero__title{
  font-size: 72px;
  font-weight: bold;
  line-height: 98px;
  margin-bottom: 29px;
}

.hero__subtitle{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 33px;
}

.button{
  display: inline-block;
  border-radius: 35px;
  padding: 16px 38px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.button--color--red{
  background: #F5170E;
  color: #fff;
  border: 1px solid #F5170E;
}

.button--color--white{
  background: #fff;
  color: #F5170E;
  border: 1px solid #F5170E;
}

.button--size--small{
  padding: 17px 28px 17px 29px;
}

.section{
  margin-bottom: 118px;
}

.section__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.section__title--fire:after{
  content: url(./img/flame.png);
  width: 21px;
  height: 28px;
  margin-left: 12px;
}

.offers__item{
  min-height: 449px;
  background: #fff;
  color: #000000;
  border-radius: 5px;
  display: inline-block;
  width: 362px;
  margin-right: 23px;
  overflow: hidden;
}

.offers__item:last-child{
  margin-right: 0;
}

.offers__content{
  padding: 28px 21px;
}

.offers__title{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.offers__features{
  margin-bottom: 20px;
}

.offers__feature{
  display: inline-block;
  text-align: center;
}

.features__icon{
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 3px;
  display: inline-block;
  vertical-align: middle;
}

.features--calendar .features__icon{
  background-image: url(./img/calendar.png);
}
.features--meal .features__icon{
  background-image: url(./img/meal.png);
}

.features__text{
  color: #666666;
  display: inline-block;
  margin-right: 28px;
  vertical-align: middle;
}

.offers__text{
  margin-bottom: 24.5px;
  color: #303030;
  font-size: 14px;
  line-height: 21px;
}

.section-news{
  margin-bottom: 146px;
}

.news__list{
  margin-bottom: 52px;
}

.news__item{
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 22px;
}
.news__item:last-child{
  margin-right: 0;
}

.news__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content{
  position: absolute;
  left: 0;
  right: 0;
  top: 252.5px;
  padding: 0px 28px 26px 28px;
}

.news__date{
  font-size: 14px;
  margin-bottom: 14px;
}

.news__title{
  font-size: 24px;
  font-weight: bold;
}

.pagination{
  text-align: center;
}

.pagination__info, .pagination__list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__info{
  margin-right: 25px;
}

.pagination__item{
  display: inline-block;
  vertical-align: middle;
}

.pagination__item--active .pagination__link{
  background: #fff;
  color: #F5170E;
}

.pagination__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  line-height: 32px;
}

.section-about{
  margin-bottom: 81px;
}

.about:before, .about__content{
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
}

.about:before {
  content: "";
  width: 490px;
  height: 505px;
  background: url(./img/gates.jpg) center center / cover no-repeat;
}

.about__content {
  background: url(./img/mountains.jpg) center center / cover no-repeat;
  width: 785px;
  height: 455px;
  padding: 70px 202px 70px 80px;
  margin-left: -139px;
  margin-top: 97px;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 37px;
  color: #000000;
}

.about__desc {
  color: #060606;
  margin-bottom: 43px;
  line-height: 27px;
}

.about__desc p {
  margin-bottom: 20px;
}

.about__desc p:last-child{
  margin-bottom: 0;
}

.footer:before{
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  mix-blend-mode: normal;
  opacity: 0.1;
  width: 1141px;
  height: 2px;
  top: -27px;
}

.footer {
  height: 146px;
  position: relative;
}

.socials__list {
  position: absolute;
  top: 26px;
  right: 265px;
}
.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.socials__item:last-child{
  margin-right: 0px;
}

.socials__link{
  display: block;
  width: 36px;
  height: 36px;
  text-decoration: none;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link{
  background-image: url(./img/telegram.png);
}
.socials__item--icon--telegram .socials__link:hover{
  background-image: url(./img/telegram-hover.png);
}

.socials__item--icon--vk .socials__link{
  background-image: url(./img/vk.png);
}
.socials__item--icon--vk .socials__link:hover{
  background-image: url(./img/vk-hover.png);
}

.socials__item--icon--fb .socials__link{
  background-image: url(./img/fb.png);
}
.socials__item--icon--fb .socials__link:hover{
  background-image: url(./img/fb-hover.png);
}

.socials__item--icon--insta .socials__link{
  background-image: url(./img/insta.png);
}
.socials__item--icon--insta .socials__link:hover{
  background-image: url(./img/insta-hover.png);
}