.hero__content{
  margin-bottom: 246px;
}

.hero__text-section{
  width: 45%;
}

.hero__title{
  font-size: 72px;
  font-weight: bold;
  line-height: 98px;
  margin-bottom: 29px;
}

.hero__subtitle{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 33px;
}