.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.partners__item {
  margin-right: 56px;
}

.partners__item:nth-child(4n+4) {
  margin-right: 0;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 243px;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  filter: grayscale(100%);
  transition: filter .4s cubic-bezier(0.35, -0.18, 0.68, 1.24);
}

.partners__link:hover {
  filter: grayscale(0%);
}